<!DOCTYPE html>
<html>
  <head>
    <title>Smile</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!--PC用（801px以上端末）で表示させるブロック-->
			<header class="pc">

				<h1 class="logo"><%= link_to image_tag("logo.png", alt: "SAMPLE SITE"), root_path %></h1>

				<!--PC用（801px以上端末）メニュー-->
				<nav id="menubar">
					<ul>
						<li class="menuimg menu1"><a href="/"><span>Home</span></a></li>
						<li class="menuimg menu2"><a href="company.html"><span>Company</span></a></li>
						<li class="menuimg menu3"><a href="works.html"><span>Works</span></a></li>
						<li class="menuimg menu4"><a href="link.html"><span>Links</span></a></li>
						<li class="menuimg menu5"><a href="/contact"><span>Contact</span></a></li>
					</ul>
				</nav>
				<ul class="icon">
					<li><%= link_to image_tag("icon_facebook.png", alt: "Facebook"), "#" %></li>
					<li><%= link_to image_tag("icon_twitter.png", alt: "Twitter"), "#" %></li>
					<li><%= link_to image_tag("icon_instagram.png", alt: "Instagram"), "#" %></li>
					<li><%= link_to image_tag("icon_youtube.png", alt: "YouTube"), "#" %></li>
				</ul>

			</header>
			<!--/.pc-->

			<!--小さな端末用（800px以下端末）で表示させるブロック-->
			<header class="sh">

				<h1 class="logo"><%= link_to image_tag("logo.png", alt: "SAMPLE SITE"), root_path %></h1>

				<!--小さな端末用（800px以下端末）メニュー-->
				<div id="menubar-s">
					<nav>
						<ul>
							<li class="menuimg menu1"><a href="/"><span>Home</span></a></li>
							<li class="menuimg menu2"><a href="company.html"><span>Company</span></a></li>
							<li class="menuimg menu3"><a href="works.html"><span>Works</span></a></li>
							<li class="menuimg menu4"><a href="link.html"><span>Links</span></a></li>
							<li class="menuimg menu5"><a href="/contact"><span>Contact</span></a></li>
						</ul>
					</nav>
					<ul class="icon">
						<li><%= link_to image_tag("icon_facebook.png", alt: "Facebook"), "#" %></li>
						<li><%= link_to image_tag("icon_twitter.png", alt: "Twitter"), "#" %></li>
						<li><%= link_to image_tag("icon_instagram.png", alt: "Instagram"), "#" %></li>
						<li><%= link_to image_tag("icon_youtube.png", alt: "YouTube"), "#" %></li>
					</ul>

				</div>
				<!--/#menubar-s-->

			</header>
			<!--/.sh-->
    <%= yield %>
  </body>
</html>
